.book-platforms{

padding:120px 25px;

background:
linear-gradient(135deg,#081018,#101826);

}

.platform-container{

max-width:1200px;

margin:auto;

text-align:center;

}

.platform-badge{

display:inline-block;

padding:10px 20px;

background:#f5b942;

color:#111;

font-weight:700;

border-radius:50px;

margin-bottom:20px;

letter-spacing:1px;

}

.book-platforms h2{

font-size:56px;

color:white;

margin-bottom:20px;

}

.platform-subtitle{

font-size:22px;

color:#bfc8d5;

margin-bottom:70px;

}

.platform-subtitle span{

color:#f5b942;

font-weight:bold;

}

.platform-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}

.platform-card{

position:relative;

padding:45px 30px;

border-radius:25px;

text-decoration:none;

overflow:hidden;

transition:.45s;

color:white;

backdrop-filter:blur(15px);

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 40px rgba(0,0,0,.4);

}

.platform-card:hover{

transform:translateY(-15px);

box-shadow:0 35px 70px rgba(0,0,0,.6);

}

.platform-card::before{

content:"";

position:absolute;

top:0;

left:-100%;

width:100%;

height:100%;

background:linear-gradient(

120deg,

transparent,

rgba(255,255,255,.25),

transparent

);

transition:.8s;

}

.platform-card:hover::before{

left:100%;

}

.icon{

font-size:65px;

margin-bottom:20px;

}

.platform-card h3{

font-size:30px;

margin-bottom:15px;

}

.platform-card p{

color:#d6d6d6;

line-height:1.7;

margin-bottom:30px;

}

.platform-card span{

font-weight:bold;

font-size:18px;

}

.amazon{

border-top:6px solid #FF9900;

}

.amazon:hover{

background:#FF990015;

}

.google{

border-top:6px solid #34A853;

}

.google:hover{

background:#34A85315;

}

.online{

border-top:6px solid #3B82F6;

}

.online:hover{

background:#3B82F615;

}
